/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}



.wrapper{
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-image: url("images/1663870550_15-phonoteka-org-p-fon-gd-oboi-15.jpg");
    background-size: 100%;
}

.elem{
    right: 0;
    top: 400px;
    width: 40px;
    height: 40px;
    background-image: url("images/Слой 2.png");
    position: absolute;
    margin-top: 40px;
    z-index: 1;

}
.elem2{
    right: 0;
    top: 400px;
    width: 40px;
    height: 80px;
    background-image: url("images/Слой 2.png");
    position: absolute;
    z-index: 1;
}

#block {
    width: 40px;
    height: 40px;
    background-image: url("images/y.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    transition: 0.3s cubic-bezier(0.33, 0, 0.68, 0);
}
.transition{
   transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1) !important;
}
.wrapper-life{
    opacity: 70%;
    position: absolute;
    width: 100px;
    height: 60px;
    background: linear-gradient(to bottom right, purple, pink);
    border-radius: 10px;
    left: 20px;
    top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:0 0 20px #555;
    caret-color: transparent;
}
.wrapper-life-img{
    width: 20px;
    height: 20px;
    background-image: url("images/heart.png");
    background-size: 100%;
}
.game-over-block {
    display: none;
    margin: 0 auto;
    width: 400px;
    height: 500px;
    background-image: url("images/1674362201_foni-club-p-fon-geometriya-dash-8.jpg");
    background-size: cover;
    opacity: 80%;
    border-radius: 10px;
    box-shadow:0 0 30px #5590ff;
    z-index: 9999;
}

.game-over-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-over-logo{
    caret-color: transparent;
    width: 220px;
    height: 100px;
    background-image: url("images/game-over.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 30px;
}
.game-over-restart-button a {
    display: block;
    width: 150px;
    margin-top: 50px;
}